<h1>Password Generator</h1>
<div class="passGen__container">
  <div class="passGen__outputwrapper">
    <input type="text" id="output" placeholder="P4$5W0rD!" disabled [value]="generatedPass" #tocopy/>
    <span>
      <p id="copied" [style.visibility]="isCopied ? 'visible' : 'hidden'" >COPIED</p>
      <img src="../assets/icon-copy.svg" alt="copy icon" (click)="copyPassword()" />
    </span>
  </div>
  <!-- controls section -->
  <div class="passGen__controlswrapper">
    <div class="passGen__characterlength">
      <p>Character length</p>
      <p id="lengthcount" #length>{{ rangeValue }}</p>
    </div>
    <input
      class="space"
      type="range"
      id="passlength"
      min="0"
      max="20"
      [value]="rangeValue"
      step="1"
      [(ngModel)]="rangeValue"
      (input)="onRangeInput($event)"
      #slider
    />
    <!-- check boxes -->
    <div class="passGen__tickboxeswrapper space">
      <span
        ><span
          class="checkbox checked"
          [class.checked]="includeUppercase"
          (click)="toggleUppercase()"
          id="Uppercase"
        >
          <img src="../assets/icon-check.svg" alt="check icon" />
        </span>
        <p>Include Uppercase Letters</p></span
      >
      <span
        ><span
          class="checkbox"
          [class.checked]="includeLowercase"
          (click)="toggleLowercase()"
          id="Lowercase"
        >
          <img src="../assets/icon-check.svg" alt="check icon" />
        </span>
        <p>Include Lowercase Letters</p></span
      >
      <span
        ><span
          class="checkbox"
          [class.checked]="includeNumbers"
          (click)="toggleNumbers()"
          id="numbers"
        >
          <img src="../assets/icon-check.svg" alt="check icon" />
        </span>
        <p>Include Numbers</p></span
      >
      <span
        ><span
          class="checkbox"
          [class.checked]="includeSymbols"
          (click)="toggleSymbols()"
          id="symbols"
        >
          <img src="../assets/icon-check.svg" alt="check icon" />
        </span>
        <p>Include Symbols</p></span
      >
    </div>
    <!-- password strength section -->
    <div class="passGen__passStrength space">
      <p>STRENGTH</p>
      <div class="strenghtInd-wrapper">
        <p id="passStrengthText">MEDIUM</p>
        <div class="indicators">
          <span id="firstIndicator"></span>
          <span id="firstIndicator"></span>
          <span id="firstIndicator"></span>
          <span id="firstIndicator"></span>
        </div>
      </div>
    </div>
    <!-- Generate password section -->
    <div class="passGen__passGenerate space" (click)="generatePass()">
      <p>generate</p>
      <img src="../assets/icon-arrow-right.svg" alt="generate arrow icon" />
    </div>
  </div>

  <router-outlet />
</div>
