<style>
  @media (max-width: 498px) {
    .passGen__container {
      width: 20rem;
    }
    .passGen__outputwrapper {
      min-height: 3.8rem;
      justify-content: start;
    }
    .passGen__outputwrapper > input {
      width: 70%;
      font-size: 1.1rem;
    }
    .passGen__outputwrapper > span {
      width: 30%;
    }
    .passGen__outputwrapper > span > svg {
      width: 1.4rem;
      height: 1.4rem;
    }
    .passGen__controlswrapper {
      padding: 0.5rem 0.9rem;
      height: fit-content;
    }
    #lengthcount {
      font-size: 1.2rem;
    }
    .includetext {
      font-size: 0.9rem;
    }
    #passStrengthText {
      font-size: 1.1rem;
      font-weight: bold;
    }
    .indicators {
      gap: 0.2rem;
    }
    /* actuall indicators */
    .indicators > span {
      width: 0.4rem;
    }
    .passGen__passGenerate {
      margin-block-start: -0.5rem;
    }
  }
</style>
<h1>Password Generator</h1>
<div class="passGen__container">
  <div class="passGen__outputwrapper">
    <input
      type="text"
      id="output"
      placeholder="P4$5W0rD!"
      disabled
      [value]="generatedPass"
      #tocopy
    />
    <span>
      <p id="copied" [style.visibility]="isCopied ? 'visible' : 'hidden'">
        COPIED
      </p>
      <svg width="21" height="24" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M20.341 3.091 17.909.659A2.25 2.25 0 0 0 16.319 0H8.25A2.25 2.25 0 0 0 6 2.25V4.5H2.25A2.25 2.25 0 0 0 0 6.75v15A2.25 2.25 0 0 0 2.25 24h10.5A2.25 2.25 0 0 0 15 21.75V19.5h3.75A2.25 2.25 0 0 0 21 17.25V4.682a2.25 2.25 0 0 0-.659-1.591ZM12.469 21.75H2.53a.281.281 0 0 1-.281-.281V7.03a.281.281 0 0 1 .281-.281H6v10.5a2.25 2.25 0 0 0 2.25 2.25h4.5v1.969a.282.282 0 0 1-.281.281Zm6-4.5H8.53a.281.281 0 0 1-.281-.281V2.53a.281.281 0 0 1 .281-.281H13.5v4.125c0 .621.504 1.125 1.125 1.125h4.125v9.469a.282.282 0 0 1-.281.281Zm.281-12h-3v-3h.451c.075 0 .147.03.2.082L18.667 4.6a.283.283 0 0 1 .082.199v.451Z"
          (click)="copyPassword()"
        />
      </svg>
    </span>
  </div>
  <!-- controls section -->
  <div class="passGen__controlswrapper">
    <div class="passGen__characterlength">
      <p>Character length</p>
      <p id="lengthcount" #length>{{ rangeValue }}</p>
    </div>
    <input
      class="space"
      type="range"
      id="passlength"
      min="0"
      max="20"
      [value]="rangeValue"
      step="1"
      [(ngModel)]="rangeValue"
      (input)="onRangeInput($event)"
      #slider
    />
    <!-- check boxes -->
    <div class="passGen__tickboxeswrapper space">
      <span
        ><span
          class="checkbox checked"
          [class.checked]="includeUppercase"
          (click)="toggleUppercase()"
          id="Uppercase"
        >
          <img src="../assets/icon-check.svg" alt="check icon" />
        </span>
        <p class="includetext">Include Uppercase Letters</p></span
      >
      <span
        ><span
          class="checkbox"
          [class.checked]="includeLowercase"
          (click)="toggleLowercase()"
          id="Lowercase"
        >
          <img src="../assets/icon-check.svg" alt="check icon" />
        </span>
        <p class="includetext">Include Lowercase Letters</p></span
      >
      <span
        ><span
          class="checkbox"
          [class.checked]="includeNumbers"
          (click)="toggleNumbers()"
          id="numbers"
        >
          <img src="../assets/icon-check.svg" alt="check icon" />
        </span>
        <p class="includetext">Include Numbers</p></span
      >
      <span
        ><span
          class="checkbox"
          [class.checked]="includeSymbols"
          (click)="toggleSymbols()"
          id="symbols"
        >
          <img src="../assets/icon-check.svg" alt="check icon" />
        </span>
        <p class="includetext">Include Symbols</p></span
      >
    </div>
    <!-- password strength section -->
    <div class="passGen__passStrength space">
      <p>STRENGTH</p>
      <div class="strenghtInd-wrapper">
        <p id="passStrengthText">{{ passStrenth }}</p>
        <div class="indicators" #indicators [attr.passStrength]="indicator">
          <span id="firstIndicator"></span>
          <span id="secondIndicator"></span>
          <span id="thirdIndicator"></span>
          <span id="forthIndicator"></span>
        </div>
      </div>
    </div>
    <!-- Generate password section -->
    <div class="passGen__passGenerate space" (click)="generatePass()">
      <p>generate</p>
      <svg width="12" height="12" xmlns="http://www.w3.org/2000/svg">
        <path
          d="m5.106 12 6-6-6-6-1.265 1.265 3.841 3.84H.001v1.79h7.681l-3.841 3.84z"
        />
      </svg>
    </div>
  </div>

  <router-outlet />
</div>
