*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  background-color: #100f16;
  height: 100vh;
  font-family: "JetBrains Mono", monospace;
  align-content: center;
  color: white;
}

.space {
  margin-block: 1rem;
}

/* styles end here */

@media (max-width: 498px) {
  .passGen__outputwrapper > input {
    width: 70%;
    font-size: 1.1rem;
  }
  .passGen__outputwrapper > span {
    width: 30%;
  }
  .passGen__outputwrapper > span > svg {
    width: 1.4rem;
    height: 1.4rem;
  }
}
