*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  background-color: #100f16;
  height: 100vh;
  font-family: "JetBrains Mono", monospace;
  align-content: center;
  color: white;
}

.space {
  margin-block: 1rem;
}

/* styles end here */



